@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* { box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("./collage.jpg"); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  text-align: center;
}

form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin: 30px 5px 20px;
  font-size: 40px;
}

input {
  padding: 5px;
  font-size: 20px;
  border: 2px solid grey;
}

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 15%;
}

.infoAboutUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.infoAboutUser:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.infoAboutUser a {
  margin: 5px 0 30px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}


